@{
    ViewData["Title"] = "Me contacter";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<div class="row">

    <div class="col-md-3">
        <img src="~/images/moic.jpg" height="200" width="200" />
    </div>

    <div class="col-md-3">
        <address>
            41 Allée des Glaïeuls<br />
            Décines-Charpieu, 69150<br />
            <abbr title="Mon numéro de téléphone personnel">Tel:</abbr>
            +336 17 52 12 69
        </address>

        <address>
            <strong>Mail:</strong> <a href="mailto:yohannmarmonier@gmail.com">yohannmarmonier@gmail.com</a><br />
            <strong>GitHub:</strong> <a href="https://github.com/YohannM">https://github.com/YohannM</a>
        </address>
    </div>
</div>
